@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: 255, 255, 255;
  color: theme('colors.grey.80');
  font-family: var(--font-eUkraineHead);
  font-weight: 400;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .block-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-md bg-white;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-md bg-grey-60;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-grey-60;
  }
}

#pdf-controls {
  display: none;
}

@keyframes modal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-animation {
  animation: modal 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}