@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'e-Ukraine';
  src:
    local('e-Ukraine Bold'),
    local('e-Ukraine-Bold'),
    url('/fonts/e-Ukraine-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src:
    local('e-Ukraine Light'),
    local('e-Ukraine-Light'),
    url('/fonts/e-Ukraine-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src:
    local('e-Ukraine Medium'),
    local('e-Ukraine-Medium'),
    url('/fonts/e-Ukraine-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src:
    local('e-Ukraine Regular'),
    local('e-Ukraine-Regular'),
    url('/fonts/e-Ukraine-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src:
    local('e-Ukraine Thin'),
    local('e-Ukraine-Thin'),
    url('/fonts/e-Ukraine-Thin.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src:
    local('e-Ukraine UltraLight'),
    local('e-Ukraine-UltraLight'),
    url('/fonts/e-Ukraine-UltraLight.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'e-UkraineHead';
  src:
    local('e-UkraineHead Bold'),
    local('e-UkraineHead-Bold'),
    url('/fonts/e-UkraineHead-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'e-UkraineHead';
  src:
    local('e-UkraineHead Light'),
    local('e-UkraineHead-Light'),
    url('/fonts/e-UkraineHead-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'e-UkraineHead';
  src:
    local('e-UkraineHead Medium'),
    local('e-UkraineHead-Medium'),
    url('/fonts/e-UkraineHead-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'e-UkraineHead';
  src:
    local('e-UkraineHead Regular'),
    local('e-UkraineHead-Regular'),
    url('/fonts/e-UkraineHead-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'e-UkraineHead';
  src:
    local('e-UkraineHead Thin'),
    local('e-UkraineHead-Thin'),
    url('/fonts/e-UkraineHead-Thin.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'e-UkraineHead';
  src:
    local('e-UkraineHead UltraLight'),
    local('e-UkraineHead-UltraLight'),
    url('/fonts/e-UkraineHead-UltraLight.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: 255, 255, 255;
  color: theme('colors.grey.80');
  font-family: e-Ukraine;
  font-weight: 400;
}
