@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: 255, 255, 255;
  color: theme('colors.grey.80');
  font-family: var(--font-eUkraineHead);
  font-weight: 400;
}

.background-404 {
  background-image: url('/images/404/img1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background-404 {
    background-image: url('/images/404/img2x.jpg');
  }
}
@supports (background-image: url('/images/404/img1x.webp')) {
  .background-404 {
    background-image: url('/images/404/img1x.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .background-404 {
      background-image: url('/images/404/img2x.webp');
    }
  }
}

@media screen and (min-width: 768px) {
  .background-404 {
    background-image: url('/images/404/img1x.jpg');
    background-size: cover;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .background-404 {
      background-image: url('/images/404/img2x.jpg');
    }
  }

  @supports (background-image: url('/images/404/img1x.webp')) {
    .background-404 {
      background-image: url('/images/404/img1x.webp');
      background-size: cover;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .background-404 {
        background-image: url('/images/404/img2x.webp');
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .background-404 {
    background-image: url('/images/404/img1x.jpg');
    background-size: cover;
    background-position: top -50px center;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .background-404 {
      background-image: url('/images/404/img2x.jpg');
    }
  }
  @supports (background-image: url('/images/404/img1x.webp')) {
    .background-404 {
      background-image: url('/images/404/img1x.webp');
      background-size: cover;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .background-404 {
        background-image: url('/images/404/img2x.webp');
      }
    }
  }
}

.modal-animation {
  animation: modal 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}